<style>
.box--special{
font-size: 0.98em;
}
.usa-section {
padding-top: 2rem;
padding-bottom: 2rem;
}
.tooltipTable{
font-size: .9em
}
#centered{
 text-align: center;
media-align: center;
}
#next{
text-align: right;
}
#timelineContainer {
min-height: 350px;
height: 21vw;
max-height: 500px;
}
#mapContainer {
    min-height: 400px;
    height: 30vw;
    max-height: 750px;
    margin: 0 auto;
}
#fig3Container {
min-height: 450px;
height: 28vw;
max-height: 800px;
}
#fig4Container {
min-height: 500px;
height: 29vw;
max-height: 800px;
}
</style>
